* {
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
}
ul > *{
    padding: 8px;
}
.main-content ul {
    flex-wrap: wrap;
}

.main-content li {
    display: flex;
    flex-direction: column;
    justify-self: center;
    flex: 1 1 auto;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    margin: 8px;
}
.header,.footer,.testimonial,.call-to-action,.main-content {
    padding-left: 15%;
    padding-right: 15%;
}
.header, .footer {
    background-color: #1f2937;
}
.header p.placeholder{
    font-size: 32px;
    font-weight: bolder;
    color: antiquewhite;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.footer{
    color: white;
    text-align: center;
    height: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    
}
.nav-bar li:nth-child(3){
    padding-right: 0;
}
.nav-bar li:nth-child(3) a{
    margin-right: 0;
}   
.header-content{
    display: flex;
    flex: 1 1 auto;
    padding: 3% 0%;

}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 5%;
}
.header button.sign-up {
    background-color: #3882f6;
    padding: 2% 5%;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border: 0;
    border-radius: 12px;
}
.header-text h1{
    font-size:  48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
.header-text p{
    font-size: 18px;
    color: #e5e7eb;
}
.header-image {
    min-width: 50%;
    aspect-ratio: 5/2;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.main-content h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.main-content .placeholder{
    width: 10rem;
    aspect-ratio: 1;
    color: #3882f6;
    align-self: center;
    text-align: center;
    border: 2px solid #3882f6;
    border-radius: 25px;
    margin: 0;
}
.main-content p.description-text{
    width: 10rem;
    text-align: center;
    margin: 8px 8px;
}
.testimonial {
    padding: 5% 15%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.testimonial .testimonial-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 5% 10%;
}
.testimonial .testimonial-speaker{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: flex-end;
}
.call-to-action{
    background-color: white;
    display: flex;
}
.call-to-action > *{
    color: #e5e7eb;
}
.highlight-bar{
    background-color: #3882f6;
    padding: 32px 64px;
    margin: 3% 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}
.highlight-bar button.sign-up{
    background-color: #3882f6;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: #e5e7eb;
    margin: 0 32px;
}